body {
  animation: gradient 15s ease infinite;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: url(../compute-ea4c57a4.png);
  backdrop-filter: blur(10px);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.box {
  box-shadow: 0 3px 14px #000;
  border-radius: 1rem;
  min-width: 400px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.container {
  color: white;
  /* color: brown; */
}
button {
  background-color: green;
  float: right;
}
#code {
  background-color: black;
  text-decoration: white;
  text-align: left;
}

#color {
  width: 40px;
  height: 40px;
}

.square {
  border-radius: 5px;
  width: 80px;
  height: 80px;
  border: 2px solid none;
  padding: 2px;
  margin: 20px;
  border-radius: 0px;
  background: #55b9f3;
  box-shadow: 11px 11px rgba(85, 185, 243, 0.35),
    -11px -11px 22px rgba(85, 185, 243);
}


#space {
  width: 40px;
  height: 40px;
}